.button_infodemic {
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    justify-self: center;
    margin: 0rem 0.5rem;
    padding: 0px;
    width: 25px;
}

.button_infodemic svg {
    position: relative;
    z-index: -1;
}

.infodemic_message {
    display: block;
    text-align: center;
    padding: 10px;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
}