@font-face {
    font-family: 'Montserrat-Light';
    src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./fonts/Montserrat-Medium.ttf');
}

* {
    user-select: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat-Light';
}

.btn-pwf-svg {
    cursor: pointer;
    height: 72px;
    margin-bottom: 5px;
    width: 115px;
}

.container {
    align-items: center;
    background: white;
    box-sizing: border-box;
    display: grid;
    height: 295px;
    justify-items: center;
    padding: 10px;
    position: relative;
    width: 250px;
}

.title {
    align-items: center;
    display: flex;
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    height: max-content;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    width: 90%;
}

.cont-buttons {
    align-items: center;
    display: grid;
    font-size: 15px;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    justify-items: center;
    padding: 10px 0px;
    width: 100%;
}

.border-tb {
    border-top: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(197, 197, 197);
}

footer>p {
    text-align: center;
    color: blue;
}

.btn1 {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #1e272e;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 17px;
    padding: 6px 24px;
    text-decoration: none;
    width: 50px;
}

.btn1:active {
    position: relative;
    top: 1px;
}

.cont-buttons__s-text {
    color: black;
}
.cont-buttons_switch{
    align-items: center;
    display: flex;
    justify-content: center;
}

.cont-buttons_switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.cont-buttons_switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 35px;
	height: 15px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
    padding: 5px;
}

.cont-buttons_switch label:after {
	content: '';
	position: absolute;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.cont-buttons_switch input:checked + label {
	background: #0097e6;
}

.cont-buttons_switch input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.cont-buttons_switch label:active:after {
	width: 15px;
}